<div class="container">
    <mat-toolbar>
        <span>Agregar Clientes</span>
    </mat-toolbar>

    <mat-card class="responsive-container" style="margin-top: 10px;"  *ngIf="!activo">

        <form [formGroup]="form" (ngSubmit)="EnviarDatos()">

            <mat-grid-list  cols="2" rowHeight="70px">
               
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <h1>Datos de cliente</h1>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Nombre</mat-label>
                        <input matInput autocomplete="off" formControlName="nombreSolicitante">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Dirección</mat-label>
                        <input matInput autocomplete="off" formControlName="direccion">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Colonia</mat-label>
                        <input matInput autocomplete="off" formControlName="colonia">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Ciudad</mat-label>
                        <input matInput autocomplete="off" formControlName="ciudad">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Telefono Celular</mat-label>
                        <input type="number" matInput autocomplete="off" formControlName="celular">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Estado Civil</mat-label>
                        <input matInput autocomplete="off" formControlName="estadoCivil">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Tipo Vivienda</mat-label>
                        <mat-select formControlName="tipoVivienda">
                            <mat-option *ngFor="let tipo of viviendas" [value]="tipo.value">
                            {{tipo.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Tiemp. en vivienda</mat-label>
                        <input matInput autocomplete="off" formControlName="tiempoVivienda">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Pago de renta</mat-label>
                        <input type="number" matInput autocomplete="off" formControlName="pagoRenta">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Tiemp. del negocio</mat-label>
                        <input matInput autocomplete="off" formControlName="tiempoNegocio">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Numero de identificacion</mat-label>
                        <input matInput autocomplete="off" formControlName="numeroINE">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>RFC</mat-label>
                        <input matInput autocomplete="off" formControlName="RFC">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Nombre del conyugue</mat-label>
                        <input matInput autocomplete="off" formControlName="conyugue">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Ingreso del solicitante</mat-label>
                        <input type="number" matInput autocomplete="off" formControlName="ingresoSolicitante">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Creditos Actuales</mat-label>
                        <input type="number" matInput autocomplete="off" formControlName="creditosActuales">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Gestor</mat-label>
                        <mat-select formControlName="gestor">
                            <mat-option *ngFor="let elemento of listaGestores" [value]="elemento.usuario">
                            {{elemento.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>                            

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button type="button" mat-raised-button color="primary" class="ancho" routerLink="/dashboard/clientes">Cancelar</button>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button type="submit" mat-raised-button color="primary" class="ancho" [disabled]="form.invalid || isLoading">Registrar</button>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </mat-card>

    <mat-card style="margin-top: 10px;" *ngIf="activo">
        <h2 style="text-align: center;">Subida de imagenes</h2>
        <p style="text-align: center;">Tu cliente fue registrado ahora debes subir las imagenes de la documentación necesario o podras realizarlo despues desde la edicion de clientes</p>
        <mat-grid-list  cols="2" rowHeight="70px">
            
            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <button type="button" mat-raised-button (click)="openInput()" class="ancho">INE Frente</button>
                <input id="fileInput" hidden type="file"  accept=".pdf,.jpg,.png" (change)="onFileSelected($event, 'frente')">
            </mat-grid-tile>
            
            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <button type="button" mat-raised-button (click)="openInput2()" class="ancho">INE Reverso</button>
                <input id="fileInput2" hidden type="file"   accept=".pdf,.jpg,.png" (change)="onFileSelected($event, 'reverso')">
            </mat-grid-tile>
    
            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <button type="button" mat-raised-button (click)="openInput3()" class="ancho">Comprobante</button>
                <input id="fileInput3" hidden type="file"   accept=".pdf,.jpg,.png" (change)="onFileSelected($event, 'comprobante')">
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <button type="button" mat-raised-button (click)="openInput4()" class="ancho">Fachada</button>
                <input id="fileInput4" hidden type="file"   accept=".pdf,.jpg,.png" (change)="onFileSelected($event, 'fachada')">
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <button type="button" mat-raised-button (click)="openInput5()" class="ancho">Perfil</button>
                <input id="fileInput5" hidden type="file"   accept=".pdf,.jpg,.png" (change)="onFileSelected($event, 'perfil')">
            </mat-grid-tile>

            
            <mat-grid-tile [colspan]="2" [rowspan]="2">
                <mat-progress-spinner *ngIf="subiendoArchivo" mode="determinate" [value]="progreso"></mat-progress-spinner>
            </mat-grid-tile>
            
            <br>
            <br>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <button type="button" mat-raised-button color="primary" class="ancho" routerLink="/dashboard/clientes">Finalizar</button>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>

</div>