.example-card {
    width: 100%;
  }
  
.ancho{
    width: 85%;
}
  

.expediente-cliente {
  padding: 20px;
}

.contenedor-cliente {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.titulo-cliente {
  text-align: center;
}

.titulo-cliente h1 {
  font-size: 28px;
  margin: 0;
}

.titulo-cliente h2 {
  font-size: 20px;
  margin: 0;
  color: #555;
}

.foto-y-info {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

.foto-cliente {
  width: 300px;
}

.img-cliente {
  width: 100%;
  border-radius: 8px;
}

.info-cliente {
  display: flex;
  gap: 40px;
  flex: 1;
}

.columna1, .columna2 {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.dato-cliente {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.mat-icon {
  margin-right: 8px;
  color: #757575;
}

strong {
  margin-right: 4px;
}

/* Estilos para la sección de resumen */
.resumen-cliente {
  display: flex;
  justify-content: space-between;
}

.destacado {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
  .foto-y-info {
    flex-direction: column;
    align-items: center;
  }

  .info-cliente {
    flex-direction: column;
    gap: 20px;
  }

  .columna1, .columna2 {
    width: 100%;
  }

  .resumen-cliente {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .titulo-cliente h1 {
    font-size: 24px;
  }

  .titulo-cliente h2 {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .titulo-cliente h1 {
    font-size: 22px;
  }

  .titulo-cliente h2 {
    font-size: 16px;
  }

  .info-cliente {
    gap: 15px;
  }

  .foto-cliente {
    width: 150px;
  }

  .resumen-cliente {
    text-align: center;
  }
}

/*Descargas*/
.descargas-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  margin: 20px 0;
}

.descarga-card {
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: center;
}

.imagen-descarga img {
  width: 80px; /* Tamaño de la imagen de descarga */
  margin-bottom: 10px;
}

.nombre-archivo {
  margin: 10px 0;
  font-size: 16px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background-color: #45a049;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
  .descarga-card {
    width: 48%; /* Dos cards por fila */
  }
}

@media (max-width: 480px) {
  .descarga-card {
    width: 100%; /* Un card por fila */
  }
}

.table-container {
  overflow-x: auto;
}

.boton{
  color: white;
}