.ancho{
    width: 85%;
}

.my-custom-button {
    width: 85%;
    background-color: #0aa404; /* Cambia el color de fondo al color deseado */
    color: white; /* Cambia el color del texto al deseado */
  }

  /*---*/

  .timeline {
    position: relative;
    width: 100%;
    margin-left: 11%;  
}
  
  .timeline-item {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px; /* Ajusta según sea necesario */
  }
  
  .timeline-dot {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #007bff;
    border-radius: 50%;
    margin-right: 10px;
    z-index: 1;
  }
  
  /*f6e0c2*/
  .timeline-content {
    align-items: center;
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .timeline-date {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .timeline-amount {
    color: #28a745; /* Color verde para el monto del pago */
    margin-bottom: 5px;
  }
  
  .timeline-description {
    color: #6c757d; /* Color gris oscuro para la descripción */
  }
  

  /*---*/
  .timeline-item {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px; /* Aumenta el margen inferior */
  }
  
  .timeline-dot {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #007bff;
    border-radius: 50%;
    margin-right: 10px;
    z-index: 1;
  }
  
  /* Estilo por defecto para pantallas grandes */
.responsive-container {

  width: 70%;
  margin: 0 auto; /* Centra el contenedor horizontalmente */
}

/* Estilo para pantallas pequeñas */
@media (max-width: 768px) {
  .responsive-container {
    width: 100%;
  }
}

.image-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.profile-image {
  width: 200px;  /* Ajusta el tamaño de la imagen */
  height: 200px; /* Mantén proporción cuadrada para el borde redondeado */
  border-radius: 50%;  /* Hace la imagen circular */
  object-fit: cover;  /* Ajusta la imagen para que se vea bien dentro del contenedor */
  border: 2px solid #ccc;  /* Añade un borde opcional alrededor de la imagen */
}

.documents{
  margin-top: 50px;
}