<div class="container">
<mat-toolbar>
    <span>Bienvenido a tu Panel de control</span>
</mat-toolbar>

<div class="body">
    <h3>"Nuestro sistema web de gestión financiera es una poderosa herramienta diseñada para ayudar a las 
        instituciones financieras a optimizar y simplificar sus operaciones. Desde la gestión de
         préstamos hasta el seguimiento de inversiones,
          ofrece una solución integral para el control y la administración
           eficiente de una financiera. Con una interfaz intuitiva y funciones personalizables, permite 
        tomar decisiones informadas y mejorar la eficiencia operativa, brindando un servicio excepcional
         a los clientes."</h3>
    <br>
          <div class="login">
<img src="assets\img\sistem.png" alt="" width="50%">
</div>
</div>
</div>