table {
    width: 100%;
}

.pointer{
  cursor: pointer;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}

.custom-cell {
 
  width: 50px; /* Establece el ancho deseado para las celdas personalizadas */
  /* Puedes ajustar el valor según tus necesidades */
}

.center-cell {
  text-align: center;
  /* Puedes ajustar otros estilos según tus necesidades */
}

.table-container {
  overflow-x: auto;
}

.toolbar {
  display: flex;
  flex-direction: column; /* Muestra los elementos en columnas para dispositivos móviles */
  align-items: flex-start; /* Alinea los elementos al inicio */
  margin-bottom: 20px;
}

.title {
  margin-bottom: 10px; /* Espacio entre el título y los botones */
}

.example-spacer {
  flex: 1 1 auto; /* Espacio flexible que empuja los botones a la derecha */
}

.button-container {
  display: flex; /* Alinea los botones horizontalmente */
  gap: 10px; /* Espacio entre los botones */
}

/* Estilo para dispositivos móviles */
@media (min-width: 600px) {
  .toolbar {
    flex-direction: row; /* Cambia a fila en pantallas más grandes */
    justify-content: space-between; /* Alinea los elementos a los extremos */
    align-items: center; /* Centra verticalmente los elementos */
  }
}
