table {
    width: 100%;
}

.pointer{
  cursor: pointer;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;

}


.table-container {
  overflow-x: auto;
}

.example-spacer {
  flex: 1 1 auto;
}

.contenedor {
  display: flex;
  justify-content: space-between; /* Esto separará los elementos al máximo */
  align-items: center; /* Esto centrará verticalmente los elementos */
}
  
.elemento-oculto {
  display: none;
}

.fila-activa {
  background-color: #a5fba7;  /* Puedes ajustar el color según tus preferencias */
}
.fila-inactiva {
  background-color: #f7f59b;  /* Puedes ajustar el color según tus preferencias */
}
.fila-nueva {
  background-color: #adfeff;  /* Puedes ajustar el color según tus preferencias */
}
.fila-deudor {
  background-color: #f8caa2;  /* Puedes ajustar el color según tus preferencias */
}
.fila-destiempo {
  background-color: #cbc9c9;  /* Puedes ajustar el color según tus preferencias */
}
.celda-mora {
  font-weight: bold;
  color: red; /* Puedes ajustar el color según tus preferencias */
}