<div class="container">


    <mat-toolbar>
      <span>Prestamos</span>
      <div class="example-spacer"></div>
      <button mat-raised-button color="primary" class="elemento-oculto" routerLink="/dashboard/historial-prestamo">Historial</button>
    </mat-toolbar>

    <div class="table-container">

  
    <br>
    <h2>Pendientes</h2>
    
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource2" matSort>
      
        <!-- Position Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="comienzo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Inicio </th>
          <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
        </ng-container>
        
        <!-- Name Column -->
        <ng-container matColumnDef="tipoPrestamo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
          <td mat-cell *matCellDef="let element"> {{element.tipoPrestamo}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="cantidadPagar">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> A Pagar </th>
          <td mat-cell *matCellDef="let element"> ${{element.cantidadPagar}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="totalRestante">
          <th mat-header-cell *matHeaderCellDef> Restante </th>
          <td mat-cell *matCellDef="let element"> ${{element.totalRestante}} </td>
        </ng-container>
      
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef> Fech Movimien </th>
          <td mat-cell *matCellDef="let element"> {{element.fechaPago}} </td>
        </ng-container>

        <ng-container matColumnDef="tipo">
          <th mat-header-cell *matHeaderCellDef> Movimiento </th>
          <td mat-cell *matCellDef="let element"> {{element.tipoUltiPago}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="gestor">
          <th mat-header-cell *matHeaderCellDef> Gestor </th>
          <td mat-cell *matCellDef="let element"> {{element.gestor}} </td>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element"> <a [routerLink]="['/dashboard/revisar-prestamo',element._id]">Revisar</a> </td>
        </ng-container>
    
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
    </div>
    </div>
  

    <br>
    <br>
   
    <h2>Activos</h2>
    <div class="table-container">
    <mat-form-field>
      <mat-label>Busqueda</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Nombre" #input autocomplete="off">
    </mat-form-field>
  


    <div class="mat-elevation-z8">

      <table mat-table [dataSource]="dataSource" matSort>
      
        <!-- Position Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="comienzo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Colonia </th>
          <td mat-cell *matCellDef="let element"> {{element.colonia}} </td>
        </ng-container>
        
        <!-- Name Column -->
        <ng-container matColumnDef="tipoPrestamo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
          <td mat-cell *matCellDef="let element"> {{element.tipoPrestamo}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="cantidadPagar">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>A Pagar </th>
          <td mat-cell *matCellDef="let element"> ${{element.cantidadPagar}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="totalRestante">
          <th mat-header-cell *matHeaderCellDef> Restante </th>
          <td mat-cell *matCellDef="let element"> ${{element.totalRestante}} </td>
        </ng-container>

        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef> Ultim Movimien  </th>
          <td mat-cell *matCellDef="let element"> {{element.fechaPago}} </td>
        </ng-container>

        <ng-container matColumnDef="tipo">
          <th mat-header-cell *matHeaderCellDef> Movimiento </th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'celda-mora': element.tipoUltiPago === 'Mora'}"> {{element.tipoUltiPago}} </td>
        </ng-container>
      
        <ng-container matColumnDef="proximo">
          <th mat-header-cell *matHeaderCellDef> Proximo Pago </th>
          <td mat-cell *matCellDef="let element"> {{element.proximoPago}} </td>
        </ng-container>
        
        <!-- Symbol Column -->
        <ng-container matColumnDef="gestor">
          <th mat-header-cell *matHeaderCellDef> Gestor </th>
          <td mat-cell *matCellDef="let element"> {{element.gestor}} </td>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element"> <a [routerLink]="['/dashboard/registro-pago',element._id]">Pago</a> </td>
        </ng-container>
    
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{
          'fila-activa': row.fechaPago === fechaActual,
          'fila-inactiva': row.fechaPago !== fechaActual
          }"></tr>
      </table>
    
    </div>
  </div>
  
  
  </div>