<div class="container">
    <mat-toolbar>
        <span>Revision de Prestamo</span>
    </mat-toolbar>

    <mat-card class="responsive-container" style="margin-top: 10px;">

        <form [formGroup]="form" (ngSubmit)="editarPrestamo()">

            <mat-grid-list  cols="2" rowHeight="70px">
            
                <mat-grid-tile [colspan]="2" [rowspan]="3">
                    <div class="image-container">
                      <img src={{variableURL}}{{clienteEspecifico.fotoPerfil}} alt="Foto de perfil" class="profile-image">
                    </div>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <h3>Datos de prestamo</h3>
                </mat-grid-tile>
                
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Fecha</mat-label>
                        <input matInput autocomplete="off" formControlName="fecha" readonly="true">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Tipo Prestamo:</mat-label>
                        <input matInput autocomplete="off" formControlName="tipoPrestamo" readonly="true">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Monto Aprobado</mat-label>
                        <input matInput type="number" autocomplete="off" formControlName="montoAutorizado" readonly="true">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Plazo</mat-label>
                        <input matInput type="number" autocomplete="off" formControlName="plazo" readonly="true">
                    </mat-form-field>
                </mat-grid-tile>
                
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Total a pagar</mat-label>
                        <input matInput type="number" autocomplete="off" formControlName="totalPagar" readonly="true">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Pago diario</mat-label>
                        <input matInput type="number" autocomplete="off" formControlName="pagoDiario" readonly="true">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1" *ngIf="prestamoEspecifico.tipoPrestamo==='semanal'">
                    <mat-form-field class="ancho">

                      <input 
                      matInput 
                      [matDatepicker]="picker1" 
                      placeholder="seleccione fecha" 
                      (dateChange)="onDateChange($event)" 
                      [matDatepickerFilter]="filtrarDiasPermitidos"
                      formControlName="proximoPagoFech">
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>

                    </mat-form-field>
                  </mat-grid-tile>

                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <h3>Datos de cliente</h3>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Numero de Cliente</mat-label>
                        <input matInput autocomplete="off" formControlName="numeroCliente" readonly="true">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Nombre</mat-label>
                        <input matInput autocomplete="off" formControlName="nombreSolicitante" readonly="true">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Dirección</mat-label>
                        <input matInput autocomplete="off" formControlName="direccion" readonly="true">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Colonia</mat-label>
                        <input matInput autocomplete="off" formControlName="colonia" readonly="true">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Telefono Celular</mat-label>
                        <input type="number" matInput autocomplete="off" formControlName="celular" readonly="true">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Direccion Negocio</mat-label>
                        <input matInput autocomplete="off" formControlName="direccionNegocio" readonly="true">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Telefono Adicional</mat-label>
                        <input type="number" matInput autocomplete="off" formControlName="telefonoFijo" readonly="true">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Gestor</mat-label>
                        <input matInput autocomplete="off" formControlName="gestor" readonly="true">
                    </mat-form-field>
                </mat-grid-tile>    

                <br>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Comentarios:</mat-label>
                        <input  matInput autocomplete="off" formControlName="comentario">
                    </mat-form-field>
                </mat-grid-tile>


                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button type="submit" mat-raised-button  class="ancho" routerLink="/dashboard/prestamos">Cancelar</button>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button type="submit" mat-raised-button class="my-custom-button" [disabled]="isLoading">Iniciar</button>
                </mat-grid-tile>


            </mat-grid-list>
        </form>
    </mat-card>


    <mat-card class="responsive-container" style="margin-top: 10px;">
        

    
        <h2 style="text-align: center;">Documentos</h2>
        <mat-grid-list  cols="2" rowHeight="70px">
            
            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <button type="button" mat-raised-button (click)="openInput()" class="ancho">Foto con Dinero</button>
                <input id="fileInput" hidden type="file"  accept=".pdf,.jpg,.png" (change)="onFileSelected($event, 'dinero')">
            </mat-grid-tile>
            
            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <button type="button" mat-raised-button (click)="openInput2()" class="ancho">Pagare/Doc. Renovacion</button>
                <input id="fileInput2" hidden type="file"   accept=".pdf,.jpg,.png" (change)="onFileSelected($event, 'pagare')">
            </mat-grid-tile>

            <br>
        
            <mat-grid-tile [colspan]="2" [rowspan]="2">
                <mat-progress-spinner *ngIf="subiendoArchivo" mode="determinate" [value]="progreso"></mat-progress-spinner>
            </mat-grid-tile>
            
            <br>

            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <button  mat-raised-button  color="warn" (click)="cancelarPrestamo()">Eliminar Prestamo</button>
            </mat-grid-tile>

        </mat-grid-list>
    </mat-card>

</div>