.ancho{
    width: 85%;
}

.my-custom-button {
    width: 85%;
    background-color: #0aa404; /* Cambia el color de fondo al color deseado */
    color: white; /* Cambia el color del texto al deseado */
}
