<div class="container">
    <mat-toolbar>
        <span>Generar una renovacion para Prestamo</span>
    </mat-toolbar>

    <mat-card class="responsive-container" style="margin-top: 10px;">

        <form [formGroup]="form" (ngSubmit)="generarSolicitud()">

            <mat-grid-list  cols="2" rowHeight="70px">

                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Numero de Cliente</mat-label>
                        <input matInput autocomplete="off" formControlName="numeroCliente" readonly>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2" [rowspan]="3">
                    <div class="image-container">
                      <img src={{variableURL}}{{clienteEspecifico.fotoPerfil}} alt="Foto de perfil" class="profile-image">
                    </div>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <h3>Datos de prestamo</h3>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Fecha</mat-label>
                        <input matInput autocomplete="off" formControlName="fecha" readonly>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Monto Solicitado</mat-label>
                        <input matInput type="number" autocomplete="off" formControlName="montoSolicitado">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Plazo</mat-label>
                        <mat-select formControlName="plazo" [(ngModel)]="listaPlazo" (selectionChange)="onPlazoChange()">
                            <mat-option *ngFor="let tipo of tasaSeleccionada" [value]="tipo">
                            {{tipo.dia}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Tipo Prestamo</mat-label>
                        <mat-select formControlName="tipoPrestamo" [(ngModel)]="tipoPrestamo" (selectionChange)="onTipoChange()">
                            <mat-option *ngFor="let tipo of prestamos" [value]="tipo.value">
                            {{tipo.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Total a pagar</mat-label>
                        <input matInput type="number" autocomplete="off" formControlName="totalPagar">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Pago diario</mat-label>
                        <input matInput type="number" autocomplete="off" formControlName="pagoDiario">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button type="button" mat-button color="primary" (click)="calcularMontosNuevo()">Calcular</button>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <h3>Datos de cliente</h3>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Nombre</mat-label>
                        <input matInput autocomplete="off" formControlName="nombreSolicitante">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Dirección</mat-label>
                        <input matInput autocomplete="off" formControlName="direccion">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Colonia</mat-label>
                        <input matInput autocomplete="off" formControlName="colonia">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Ciudad</mat-label>
                        <input matInput autocomplete="off" formControlName="ciudad">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Telefono Celular</mat-label>
                        <input type="number" matInput autocomplete="off" formControlName="celular">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Estado Civil</mat-label>
                        <input matInput autocomplete="off" formControlName="estadoCivil">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Tipo Vivienda</mat-label>
                        <mat-select formControlName="tipoVivienda">
                            <mat-option *ngFor="let tipo of viviendas" [value]="tipo.value">
                            {{tipo.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Tiemp. en vivienda</mat-label>
                        <input matInput autocomplete="off" formControlName="tiempoVivienda">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Pago de renta</mat-label>
                        <input matInput autocomplete="off" formControlName="pagoRenta">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Tiemp. del negocio</mat-label>
                        <input matInput autocomplete="off" formControlName="tiempoNegocio">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Numero de identificacion</mat-label>
                        <input matInput autocomplete="off" formControlName="numeroINE">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>RFC</mat-label>
                        <input matInput autocomplete="off" formControlName="RFC">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Nombre del conyugue</mat-label>
                        <input matInput autocomplete="off" formControlName="conyugue">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Ingreso del solicitante</mat-label>
                        <input type="number" matInput autocomplete="off" formControlName="ingresoSolicitante">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Creditos Actuales</mat-label>
                        <input type="number" matInput autocomplete="off" formControlName="creditosActuales">
                    </mat-form-field>
                </mat-grid-tile>
   
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Motivos</mat-label>
                        <input matInput autocomplete="off" formControlName="motivos">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Gestor</mat-label>
                        <mat-select formControlName="gestor">
                            <mat-option *ngFor="let elemento of listaGestores" [value]="elemento.usuario">
                            {{elemento.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>                
            

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button type="button" mat-raised-button color="primary" class="ancho" routerLink="/dashboard/clientes">Cancelar</button>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button type="submit" mat-raised-button color="primary" class="ancho" [disabled]="form.invalid || isLoading">Generar</button>
                </mat-grid-tile>
            </mat-grid-list>
        </form>

    </mat-card>
</div>