.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .center{
    align-content: center;
    align-items: center;
    text-align: center;
  }

/* Estilos generales */
.card-container {
  display: flex;
  justify-content: space-between;
  margin: 20px; /* Ajusta el margen según tus preferencias */
}

/* Estilos responsivos para móviles */
@media (max-width: 600px) {
  .card-container {
    flex-direction: column; /* Cambia la dirección a vertical en dispositivos móviles */
    align-items: center; /* Centra las tarjetas en dispositivos móviles */
  }
  
  .custom-card {
    width: 100%; /* Ocupa el 100% del ancho en dispositivos móviles */
  }
}


  .desplazamiento{
    overflow-x: auto;
  }
  
  .card {
    align-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .red {
    background-color: #165DF5;
    color: aliceblue;
  }
  
  .green {
    background-color: #165DF5;
    color: aliceblue;
  }
  
  .blue {
    background: linear-gradient(to bottom right, #5d8976, #31863e);
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
    border-radius: 15px;
  }

  .main-card {
    background: rgba(18, 46, 58, 0.856); /* Fondo con color #122A3A translúcido */
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37); /* Sombra oscura */
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.18); /* Borde translúcido */
    text-align: center;
    color: #ffffff;
    padding: 20px;
    margin: 0 auto;
    width: 70%;
    margin-bottom: 20px;
  }
  
  h2 {
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  h4 {
    color: #cccccc; /* Texto más claro para buen contraste */
  }
  
  
  

  .conenedorListas{
    width: 80%;
    margin: 0 auto;
    background-color: red;
  }


  .centered-list {
    display: flex;
    flex-direction: column; /* Asegura que los elementos estén en columna */
    align-items: center;    /* Centra los elementos horizontalmente */
  }
  
  .centered-item {
    width: 100%;           /* Asegura que los elementos ocupen todo el ancho */
    max-width: 800px;       /* Si quieres limitar el ancho de los elementos */
    text-align: center;     /* Centra el texto de los divs dentro del mat-list-item */
  }
  